# Node modules
node_modules/

# dotenv environment variables
.env

# Logs
logs/ch
*.log
npm-debug.log*

# OS junk files
.DS_Store
Thumbs.db

# Database dump files
*.sql

# Build output (if applicable)
dist/
build/

# VS Code settings
.vscode/

# Misc
.idea/

# Google Cloud keys
src/keys/
